/* Tablet (max-width: 992px) */
@media (max-width: 992px) {
    .sidebar {
        width: 20px;
    }

    .logo span,
    .menu-item span,
    .section-header span,
    .open-btn span,
    .dropdown-item span {
        display: none;
    }

    .logo {
        padding: 0 10px 30px;
        justify-content: center;
    }

    .main-content {
        margin-left: 72px;
    }

    .open-btn {
        justify-content: center;
        padding: 10px;
    }

    .open-btn i {
        margin: 0;
    }

    .hamburger {
        display: block;
    }

    i.fas.fa-folder-open {
        margin-right: 5px;
    }

    .sidebar.active {
        width: 250px;
    }

    .sidebar.active span {
        display: inline;
    }

    /* Adjust playback bar for tablets */
    .playback-controls-center {
        max-width: 450px;
    }

    .playback-extra-controls {
        width: auto;
        justify-content: flex-end;
    }

    .volume-control-container {
        display: none;
    }
}
